#aboutcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
/* 垂直置中 */
  align-items: center;
  height: calc(100vh - 130px);
}
#aboutcontainer h5 {
  color: #f00;
}
#aboutcontainer img {
  margin: 12px;
  width: 20%;
  border-radius: 10px;
}
#aboutcontainer .intro {
  width: 50vw;
  text-align: center;
  border-bottom: 3px solid;
  padding: 12px 0;
}
#aboutcontainer .murmur {
  width: 50vw;
  text-align: center;
  padding: 12px 0;
}
